<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content="Lorenzo Di Folco">
    <meta name="description" content="Applicazione Web">
    <title>Form</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/styles/images/logo.png}" height="45" alt="Logo" loading="lazy"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/ticket/new}">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/board}">Board</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" aria-current="page" th:href="@{/watch}">Watch</a>
                </li>
            </ul>
        </div>
        <div class="text-end">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:text="${#authentication.name}">User</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row ">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class="container">
                    <form th:action="@{'/ticket/' + ${ticket.id} + '/edit'}" th:object="${ticket}" method="post">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title" class="form-label">Title</label>
                                        <input class="form-control" type="text" id="title" name="title"
                                               th:field="*{title}"
                                               placeholder="Title"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="type" class="form-label">Type</label>
                                        <select class="form-control" name="type" th:field="*{type}" id="type" required>
                                            <option th:each="type : ${T(ch.supsi.webapp.web.model.Type).values()}"
                                                    th:value="${type}" th:text="${type}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state" class="form-label">State</label>
                                        <select class="form-control" name="state" th:field="*{state}" id="state"
                                                required>
                                            <option th:each="state : ${T(ch.supsi.webapp.web.model.State).values()}"
                                                    th:value="${state}" th:text="${state}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <form method="post" enctype="multipart/form-data">
                                            <label for="file" class="form-label">Select an image</label>
                                            <input class="form-control" id="file" type="file" th:field="*{attachment}" name="file" accept="image/jpeg"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="assignee" class="form-label">Assignee</label>
                                        <select class="form-control" name="assignee" th:field="*{assignee}" id="assignee" required>
                                            <option th:each="user : ${users}"
                                                    th:value="${user.id}" th:text="${user.username}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="estimate" class="form-label">Estimate</label>
                                        <input class="form-control" type="number" id="estimate" name="estimate"
                                               th:field="*{estimate}"
                                               placeholder="0.0"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="desc" class="form-label">Description</label>
                                        <textarea id="desc" name="desc" class="form-control"
                                                  placeholder="Write a description." rows="4" required="required"
                                                  th:field="*{description}"
                                                  data-error="Please, leave us a message."></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center mt-2">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="master :: footer"></div>
</body>
</html>